.page-title {
    margin-bottom: 4px;
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
}

table {
    margin-top: 12px;
    table-layout: fixed;
    width: 100%;
    min-width: 644px;
    font-family: sans-serif;
    font-size: 15px;
    text-align: center;
    border: 1px solid #dfdedf;
    border-radius: 4px;
    border-spacing: 0;
}

thead {
    background: #c7c6c6;
}
tr {
    line-height: 1.5;
}
tbody > tr:hover {
    background-color: #ccdff9;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}

th, td {
    padding: 3px;
    border: 1px solid transparent;
}
td:first-child {
    padding-inline-start: 30px;
    text-align: start;
}

.cell-info {
    display: flex;
    align-items: center;
    justify-content: center;
    text-indent: 1.6em;
}
.cell-info > a {
    display: flex;
    transform: scale(0.7);
    opacity: .5;
}

.cell-operation,
.cell-reset {
    width: 40px;
}

.has-user-value {
    font-weight: bold;
}

.has-user-value > .cell-reset {
    background: url("/icons/undo.svg") no-repeat center;
    cursor: pointer;
}
.has-user-value > .cell-reset:hover {
    background-color: #93bbf2;
}

.cell-value {
    position: relative;
}

.cTable-input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: inherit;
    font-size: inherit;
    text-align: inherit;
    border: none;
    outline: 1px solid var(--primary-color);
}

