:root {
  --primary-color: #1abc9c;
}

body {
    font-size: 16px;
}

.ul_box {
    padding: 0;
    list-style: none;
}
.ul_box > li {
    padding: 10px 10px 0 10px;
    overflow: hidden;
    border-bottom: 1px solid #e5e5e5;
}
.ul_box > li:last-child {
    border-bottom: none;
}
.ul_box > li > div {
    float: left;
}
.ul_box > li > div:nth-child(1) {
    min-width: 120px;
    text-align: right;
    padding-right: 10px;
    box-sizing: border-box;
}
.ul_box > li > div:nth-child(2) {
    overflow: hidden;
}

.label {
    height: 40px;
    line-height: 40px;
}
.label_box > label {
    display: block;
    float: left;
    margin: 0 10px 10px 0;
    position: relative;
    overflow: hidden;
}
.label_box > label > input {
    position: absolute;
    top: 0;
    left: -20px;
}
.label_box > label > span {
    display: block;
    min-width: 76px;
    padding: 0 6px;
    text-align: center;
    border: 1px solid #ddd;
    height: 40px;
    line-height: 40px;
    color: #666666;
    user-select: none;
    overflow: hidden;
    position: relative;
}
.label_box > label > input:checked + span {
    border: 1px solid var(--primary-color);
    color: var(--primary-color) !important;
}
.label_box > label > input:checked + span:after {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: var(--primary-color);
    transform: skewY(-45deg);
    position: absolute;
    bottom: -10px;
    right: 0;
    z-index: 1;
}
.label_box > label > input:checked + span:before {
    content: '';
    display: block;
    width: 3px;
    height: 8px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(35deg);
    position: absolute;
    bottom: 2px;
    right: 4px;
    z-index: 2;
}

.input_box > input,
.input_box > textarea {
    outline: none;
    padding: 0 .25em;
    font-size: 14px;
    border: 1px solid #ddd;
    font-family: 'Fira Code,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace';
}
.input_box > input {
    margin-right: 6px;
    height: 28px;
    width: 188px;
}
.input_box > textarea {
    width: 480px;
}

@media (prefers-color-scheme: dark) {
    body {
        background: rgb(38, 38, 38) !important;
        color: #fff;
    }

    .label_box > label > span{
        color: rgb(247, 247, 247) !important;
    }
}