#options {
    padding-bottom: 0;
}
hr {
    width: 100%;
    border-width: 0;
}
.ul_box {
    list-style: none;
}
.ul_box > li {
    display: flex;
    padding: 5px;
    border-bottom: 1px solid #e5e5e5;
    align-items: center;
}
.ul_box > li:last-child {
    border-bottom: none;
}
.ul_box > li > div:nth-child(1) {
    min-width: 160px;
    text-align: right;
    padding-inline-end: 5px;
}

.label_box {
    display: flex;
    flex-wrap: wrap;
}
.label_box > label {
    display: block;
    float: left;
    margin: 5px;
    position: relative;
}
.label_box > label > input {
    position: absolute;
    display: none;
}
.label_box > label > span {
    display: block;
    min-width: 85px;
    width: fit-content;
    padding: 0 10px;
    text-align: center;
    border: 1px solid #ddd;
    height: var(--base-height);
    line-height: var(--base-height);
    color: #666;
    user-select: none;
    position: relative;
}
.compact > label > span {
    min-width: 40px;
}

.disabled {
    background-color: #ccc;
}
.label_box > label > input:checked + span {
    border: 1px solid var(--primary-color);
    color: var(--primary-color) !important;
}
.label_box > label > input:checked + span:after {
    content: '';
    position: absolute;
    bottom: -15px;
    right: -15px;
    border: 15px solid;
    border-color: transparent transparent var(--primary-color);
    z-index: 1;
    transform: rotate(135deg);
}
.label_box > label > input:checked + span:before {
    content: '';
    position: absolute;
    bottom: 2px;
    right: 4px;
    width: 3px;
    height: 8px;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transform: rotate(35deg);
    z-index: 2;
}

.input_box > input,
.input_box > textarea {
    outline: none;
    padding: 0 .25em;
    font-size: 14px;
    border: 1px solid #ddd;
    font-family: 'Fira Code,Menlo,Monaco,Consolas,Liberation Mono,Courier New,Courier,monospace';
}
.input_box > input {
    margin: 5px;
    height: 30px;
    width: 190px;
}
.input_box > textarea {
    margin: 0 5px;
    width: 465px;
}
#minItemsPerCol {
    width: 90px;
}

.icon_preview {
    float: left;
    margin: 5px;
    width: 50px;
    height: 50px;
    background-position: center;
    background-image: repeating-linear-gradient(45deg, #999, #eee 1%, #eee 5%);
    background-size: 50px;
    background-repeat: no-repeat;
}
.button {
    user-select: none;
    float: left;
    margin: 15px 5px;
    padding: .15em .5em;
    border: 1px solid #777;
    border-radius: 4px;
    background-color: #f5f5f5;
}
.button:hover {
    background-color: #1abc9c48;
}
html[lang=en] .button {
    margin: 1px 5px !important;
}
.note {
    font-size: 13px;
    color: #555;
    white-space: pre;
}

.tooltip ~ .tooltiptext {
    visibility: hidden;
    position: absolute;
    bottom: 120%;
    padding: 0 10px;
    width: max-content;
    border-radius: 6px;
    font-size: 13px;
    color: #fff;
    background-color: #444;
    z-index: 9999;
    transition: visibility .2s ease-in .3s;
}
.tooltip ~ .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 40px;
    border-width: 5px;
    border-style: solid;
    border-color: #444 transparent transparent transparent;
}
.tooltip:hover ~ .tooltiptext {
    visibility: visible;
}

#customCSS {
    resize: vertical;
}

#resetBtn {
    position: absolute;
    right: 1.25em;
}
html[dir="rtl"] #resetBtn {
    right: unset;
    left: 1.25em;
}