:root {
  --height-item: 28px;
  --list-cols: 1;
  --scrollbar-width: 3px;
  /* 浅色模式 */
  --color-theme: #4db6ac;
  --color-text: #232529;
  --color-nav-text: #fff;
  --color-background: #fff;
  --color-background-dialog: rgba(255, 255, 255, .96);
  --color-border: #ddd;
  --color-hover: #cbede9;
  --color-scrollbar-thumb: #b8c8c6;
  --textbox-border-color: #a0b3d6;
  --textbox-focus-border-color: #34538b;
  --mask-background-color: rgba(9, 9, 9, .3);
}
.dark {
  --color-theme: #369;
  --color-text: #cbc8c4;
  --color-nav-text: #e3e3e3;
  --color-background: #3a3a3a;
  --color-background-dialog: #3a3a3a;
  --color-border: #666;
  --color-hover: #545454;
  --color-scrollbar-thumb: #8ac;
  --textbox-border-color: #666;
  --textbox-focus-border-color: #e29c45;
  --mask-background-color: rgba(0, 0, 0, .48);
  /* 深色模式独有 */
  --color-footer-background-dark: #333;
  --color-input-background-dark: #171a1a;
}
::-webkit-scrollbar {
  width: var(--scrollbar-width);
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: var(--color-scrollbar-thumb);
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none !important;
}

body {
  margin: 0;
  padding: 0;
  width: 280px;
  color: var(--color-text);
  background-color: var(--color-background);
  overflow: hidden;
  user-select: none;
  transition: width .05s;
}
header,
footer {
  padding: 0 8px;
}
header {
  position: relative;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--color-border);
}
main {
  position: relative;
  padding: 0;
  max-height: 504px;
  min-height: 400px;
  overflow-x: hidden;
  overflow-y: auto;
}
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 28px;
  color: var(--color-text);
  background-color: #eee;
}

.mask {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: var(--mask-background-color);
  transition: all .3s ease-out;
  z-index: 1;
}

input {
  outline: none;
  color: var(--color-text);
  border: 1px solid;
}

input::placeholder,
.textbox:empty::before {
  opacity: .66;
}

button {
  outline: none;
  cursor: pointer;
  padding: .15em .5em;
  border: 1px solid var(--textbox-border-color);
  border-bottom-width: 2px;
  border-radius: 3px;
  background-color: transparent;
  color: var(--color-text);
  letter-spacing: 1px;
  text-indent: 1px;
}
a {
  text-decoration: none;
  cursor: pointer;
}

nav {
  /* 8px 扩大点击区域 */
  margin: 4px -8px;
  padding: 0 8px;
  min-height: 24px;
  line-height: 1.65em;
  font-size: 16px;
  color: #789;
  word-break: keep-all;
}
#bookmark-manager,
.nav {
  font-size: 15px;
  font-weight: bold;
  color: var(--color-theme);
  margin-right: auto;
}
.nav:empty,
.nav:not(:empty) + #bookmark-manager {
  display: none;
}
nav > a {
  padding: 1px 4px;
  border-radius: 4px;
  color: var(--color-nav-text);
  background-color: var(--color-theme);
}

nav > a:last-of-type {
  pointer-events: none;
}
i {
  display: inline-block;
  width: .65em;
  font-style: normal;
  text-align: center;
}
.folder-list,
#search-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: 13px;
}
.folder-list[hidden],
#search-list[hidden] {
  display: none;
}

.folder-list:empty::after,
#search-list:empty::after {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  margin: 2px 8px;
  box-sizing: border-box;
  opacity: .8;
}
.folder-list:empty::after {
  content: "__MSG_noBookmarksTip__";
}
#search-list:empty::after {
  content: "__MSG_seachNoResultTip__";
}

#search-input {
  width: 100%;
  height: 24px;
  border: 1px solid var(--color-border);
  border-radius: 2px;
}
#search-input::-webkit-search-cancel-button {
  transform: translateY(-1px);
  cursor: pointer;
}

.item {
  position: relative;
  padding: 0 8px;
  width: calc(100% / var(--list-cols));
  height: var(--height-item);
  line-height: var(--height-item);
}
.item:hover,
.item:focus,
.item.active,
.item.selected {
  background-color: var(--color-hover);
}

.favicon {
  position: absolute;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.folder-list .favicon {
  cursor: move;
}
.item > a {
  display: block;
  padding-left: 24px;
  /* 防止空名称文件夹不能打开 */
  height: 100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
#star-url {
  margin: 0 6px 0 -3px;
}
.btn {
  display: flex;
  align-items: center;
  outline: none;
}
.gap {
  margin-left: 2px;
}

.btn svg {
  opacity: .51;
}

#context-menu,
#dialog {
  position: absolute;
  padding: 5px;
  margin: 0;
  min-width: 120px;
  max-width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  background-color: var(--color-background-dialog);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  list-style: none;
  outline: none;
}
#context-menu {
  left:0;
  top:0;
}
#context-menu > li {
  display: none;
  padding: 0 8px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: none;
}
#context-menu > li:hover {
  background: var(--color-hover);
}
hr {
  display: none;
  border: 0;
  padding: 0;
  height: 1px;
  margin: 2px 0;
  background-color: var(--color-border);
  pointer-events: none;
}

.folder > #bookmark-add-bookmark,
.folder > #bookmark-add-folder,
.folder > #bookmark-set-as-startup,
.folder > #bookmark-open-all,
.folder > #bookmark-edit-folder,
.folder > #bookmark-delete,
.folder > hr {
  display: block;
}
.link > #bookmark-new-tab,
.link > #bookmark-new-tab-background,
.link > #bookmark-new-incognito-window,
.link > #bookmark-add-bookmark,
.link > #bookmark-add-folder,
.link > #bookmark-update-url,
.link > #bookmark-edit,
.link > #bookmark-delete,
.link > hr {
  display: block;
}
.nodata > #bookmark-add-bookmark,
.nodata > #bookmark-add-folder {
  display: block;
}

[type=search] > #bookmark-add-bookmark,
[type=search] > #bookmark-add-folder {
  display: none;
}
#bookmark-location {
  display: none !important;
}
[type=search] > #bookmark-location {
  display: block !important;
}
.nodata[type=search] {
  display: none;
}

#dialog {
  position: absolute;
  width: 96%;
  max-width: 360px;
  line-height: 2em;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
}

.textbox {
  outline: none;
  margin: 10px 0;
  width: 100%;
  border: 1px solid var(--color-border);
  border-radius: 3px;
  color: var(--color-text);
  font-size: 14px;
  word-break: break-all;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-user-modify: read-write-plaintext-only;
}
.textbox:empty::before {
  content: attr(placeholder);
}

.dialog-btns {
  display: flex;
  justify-content: space-evenly;
}
#dialog input:focus,
#dialog .textbox:focus,
#dialog button:hover {
  border-bottom-color: var(--textbox-focus-border-color);
}

#edit-dialog-text {
  text-align: center;
  font-size: 1.4em;
}
#edit-dialog-name {
  padding: 1px 3px;
  max-height: 15vh;
}
#edit-dialog-url {
  padding: 3px;
  max-height: 60vh;
}
.title {
  padding: 1px 10px;
  border-radius: 5px;
  background-color: var(--color-hover);
}

/* 深色模式 */
.dark footer {
  background-color: var(--color-footer-background-dark);
}
.dark input,
.dark .textbox {
  background-color: var(--color-input-background-dark);
}
.dark img {
  filter: brightness(0.9);
}
.dark svg {
  fill: var(--color-text);
}