:root {
  --color-theme: #75c3b4;
  --height-item: 28px;
  --width-item: 100%;
  /* 浅色模式 */
  --color-text: #333;
  --color-background: #fff;
  --color-background-dialog: rgba(255, 255, 255, .96);
  --color-border: #ddd;
  --color-hover: #d3ece7;
  --color-scrollbar-thumb: rgba(50, 50, 50, .3);
  --textbox-border-color: #a0b3d6;
  --textbox-focus-border-color: #34538b;
}
.dark {
  --color-text: #adaaa6;
  --color-background: #3a3a3a;
  --color-background-dialog: #3a3a3a;
  --color-border: #666;
  --color-hover: #545454;
  --color-scrollbar-thumb: rgba(200, 200, 200, .3);
  --textbox-border-color: #666;
  --textbox-focus-border-color: #e29c45;
  /* 深色模式独有 */
  --color-footer-background-dark: #333;
  --color-input-background-dark: #171a1a;
}
::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: var(--color-scrollbar-thumb);
}
* {
  box-sizing: border-box;
}
.hidden {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  width: 280px;
  color: var(--color-text);
  background-color: var(--color-background);
  overflow: hidden;
  user-select: none;
}
header,
footer {
  padding: 0 8px;
}
header {
  padding-bottom: 4px;
  border-bottom: 1px solid var(--color-border);
}
main {
  position: relative;
  max-height: 504px;
  min-height: 400px;
  overflow-x: hidden;
  overflow-y: overlay;
}
footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 28px;
  color: var(--color-text);
  background-color: #eee;
}

input {
  outline: none;
  color: var(--color-text);
  border: 1px solid;
}

input::placeholder,
.textbox:empty:before {
  opacity: .66;
}

button {
  outline: none;
  cursor: pointer;
  margin-right: 0.5em;
  padding: .15em .5em;
  border: 1px solid var(--textbox-border-color);
  background-color: transparent;
  color: var(--color-text);
}
a {
  text-decoration: none;
  cursor: pointer;
}

nav {
  pointer-events: none;
  margin: 4px 0;
  min-height: 24px;
  line-height: 1.65em;
  font-size: 16px;
  color: #789;
  word-break: keep-all;
}
#bookmark-manager,
.nav {
  margin-right: auto;
  font-size: 15px;
  font-weight: bold;
  color: var(--color-theme);
}
nav > a {
  pointer-events: auto;
  padding: 1px 4px;
  border-radius: 4px;
  color: #fff;
  background-color: var(--color-theme);
}

nav > a:last-of-type {
  pointer-events: none;
}

.folder-list,
#search-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: 13px;
}
.folder-list[hidden],
#search-list[hidden] {
  display: none;
}
#search-input {
  width: 100%;
  height: 24px;
  border: 1px solid var(--color-border);
  border-radius: 2px;
}
#search-input::-webkit-search-cancel-button {
  transform: translateY(-1px);
  cursor: pointer;
}
.nodata,
.noresult {
  opacity: .8;
}
.item {
  position: relative;
  padding-left: 8px;
  width: var(--width-item);
  height: var(--height-item);
  line-height: var(--height-item);
}
.item:hover,
.item:focus,
.item.active,
.item.seleted {
  background-color: var(--color-hover);
}

.favicon {
  position: absolute;
  height: 16px;
  top: 50%;
  transform: translateY(-50%);
}
.item > a {
  display: block;
  padding-left: 24px;
  /* 防止空名称文件夹不能打开 */
  height: 100%;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
#bookmark-manager {
  margin: 0 7px 0 -3px;
}
.btn {
  margin-left: 2px;
  height: 100%;
}

.btn svg {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  opacity: .5;
}

#context-menu,
#dialog {
  position: absolute;
  padding: 5px;
  margin: 0;
  min-width: 120px;
  max-width: 100%;
  border: 1px solid #bbb;
  border-radius: 5px;
  background-color: var(--color-background-dialog);
  box-shadow: 0 2px 6px rgba(0, 0, 0, .2);
  list-style: none;
  outline: 0;
}
#context-menu {
  left:0;
  top:0;
}
#context-menu > li {
  display: none;
  padding: 0 8px;
  line-height: 22px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-shadow: none;
}
#context-menu > li:hover {
  background: var(--color-hover);
}
hr {
  display: none;
  border: 0;
  padding: 0;
  height: 1px;
  margin: 2px 0;
  background-color: var(--color-border);
  pointer-events: none;
}

.folder > #bookmark-add-bookmark,
.folder > #bookmark-add-folder,
.folder > #bookmark-set-as-startup,
.folder > #bookmark-open-all,
.folder > #bookmark-edit-folder,
.folder > #bookmark-delete,
.folder > hr {
  display: block;
}
.link > #bookmark-new-tab,
.link > #bookmark-new-tab-background,
.link > #bookmark-new-incognito-window,
.link > #bookmark-add-bookmark,
.link > #bookmark-add-folder,
.link > #bookmark-update-url,
.link > #bookmark-edit,
.link > #bookmark-delete,
.link > hr {
  display: block;
}
.nodata > #bookmark-add-bookmark,
.nodata > #bookmark-add-folder {
  display: block;
}

[type=search] > #bookmark-add-bookmark,
[type=search] > #bookmark-add-folder {
  display: none;
}
#bookmark-location {
  display: none !important;
}
[type=search] > #bookmark-location {
  display: block !important;
}

#dialog {
  position: fixed;
  top: 32px;
  width: 96%;
  max-width: 360px;
  line-height: 2em;
  left: 50%;
  transform: translateX(-50%);
}

.textbox {
  outline: none;
  margin: 10px 0;
  width: 100%;
  border: 1px solid var(--textbox-border-color);
  border-radius: 3px;
  color: var(--color-text);
  font-size: 14px;
  word-break: break-all;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-user-modify: read-write-plaintext-only;
}
.textbox:empty:before {
  content: attr(placeholder);
}

#dialog input:focus,
#dialog .textbox:focus,
#dialog button:focus {
  border-color: var(--textbox-focus-border-color);
  box-shadow: 0 0 2px rgba(0, 100, 255, .45);
}

#edit-dialog-text {
  text-align: center;
  font-size: 1.4em;
}
#edit-dialog-name {
  padding: 1px 3px;
  max-height: 15vh;
}
#edit-dialog-url {
  padding: 3px;
  max-height: 60vh;
}
.title {
  padding: 0 10px;
  border-radius: 5px;
  background-color: var(--color-hover);
}

/* 深色模式 */
.dark footer {
  background-color: var(--color-footer-background-dark);
}
.dark input,
.dark .textbox {
  background-color: var(--color-input-background-dark);
}
.dark img {
  filter: brightness(0.9);
}
.dark svg {
  fill: var(--color-text);
}